/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


/* Blog */

.entry-header {

	 a {
		color: $color_brandred;
	}

	.entry-meta {
		color: $color_brandlightgrey;
		font-weight: 100;
	}
}

.widget-title {
	color: $color_branddarkgrey;
	font-size: 1.1rem;

	h1 {
		text-transform: uppercase;
		font-size: 20rem;
	}

	ul {
		list-style: none;
	}
}

/*content area flex, sidebar*/

.container {
	max-width: 1024px;
	margin: 0 auto;
}

.blog, .single, .error404, .page:not(.home), .archive:not(.post-type-archive-product) {

.site-content {
	display: flex;
	flex-direction: row;
	width: 1024px;
	margin: 0 auto;


	.blog-post {
		border-right: $solid_border;
		width: 73%;

	}

	.widget-area {
		padding-left: 5%;
  }
 }
}

.widget {
	color: $color_brandlightgrey;
	font-weight: light;

	.widget-title {
		color: #333333;
		font-size: 1.2rem;
		margin-bottom: .75rem;
		text-transform: uppercase;
	}

	p {
		margin-bottom: .5rem;
	}

	.contact-meta i {
		line-height: 1.5;
		margin-right: .4rem;
		width: 20px;
	}

	a, .weekday {
		color: $color_brandred;
	}

	ul {
		font-weight: lighter;
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}
}

/*Contact Page*/

.page-id-23 {

	.entry-title {
		color: $color_brandnearblack;
		margin-top: 0;
		text-transform: uppercase;
	}

	h3 {
		color: $color_brandmedgrey;
		font-size: 1.8rem;
	}


	.wpcf7-form {
		margin: 0;
		padding: 0;

		p {
			color: $color_brandmedgrey;
			font-weight: 700;
			margin-bottom: .5rem;
		}

		input, textarea {
			background-color: $color_background_offwhite;
		}

		.name {
			float: left;
			margin-right: 1%;
			width: 49%;
		}
	}
}
