/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


/* my styles */

.entry-header {

	 a {
		color: $color_brandred;
	}

	.entry-meta {
		color: $color_brandlightgrey;
		font-weight: 100;
	}
}

.widget-title {
	color: $color_branddarkgrey;
	font-size: 1.1rem;

	h1 {
		text-transform: uppercase;
	}

	ul {
		list-style: none;
	}
}

/*content area flex, sidebar*/

.site-content {
	display: flex;
	flex-direction: row;
	width: 1024px;

	.content-area {
		border-right: $solid_border;
		padding-right: 5%;
		width: 73%;
	}

	.widget-area {
		padding-left: 5%;

	}
}



.widget {
	color: $color_brandlightgrey;
	font-weight: light;

	.widget-title {
		color: #333333;
		font-size: 1.2rem;
		margin-bottom: .75rem;
		text-transform: uppercase;
	}

	p {
		margin-bottom: .5rem;
	}

	.contact-meta i {
		line-height: 1.5;
		margin-right: .4rem;
		width: 20px;
	}

	a, .weekday {
		color: $color_brandred;
	}

	ul {
		font-weight: lighter;
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}
}

/*Home page*/

.content-area-front {
	width: 1240px;
}

.banner {
	background:
	url('../../images/hero-bread.jpg') center no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 600px;
	width: 1240px;

	.banner-text {
		color: white;
		font-size: 6rem;
		line-height: 1;
		text-align: center;
		text-shadow: 2px 1px 2px rgba(100,100,100,.75);
	}
}

/*icons/products */

.menu-items {
	width: 1240px;

	.menu-item-inner {
		display: flex;
		justify-content: space-between;
		padding-top: 2rem;
		width: 1240px;

		.menu-item-wrapper {
			padding: 1rem;
			width: 25%;
		}

		img {
			display: block;
			padding-left: 4rem;
		}

		h3 {
			margin-bottom: 1rem;
			text-transform: uppercase;;
			text-align: center;
		}

		p {
			padding: 1rem;
		}

		a{
			color: $color_brandred;
		}
	}
}

/*See Our Products*/
.click-for-products {
	background: $color_background_offwhite;
	border-top: $solid_border;
	border-bottom: $solid_border;
	margin-bottom: 3rem;

	span {
		margin: .5rem;
	}

	button {
		background:$color_brandbrown;
		border: none;
		border-radius: 3px;
		box-shadow: none;
		color: #ffffff;
		cursor: pointer;
		font-size: 1rem;
		padding: .8rem 1.5rem;
		text-decoration: none;
		text-shadow: none;

		&:hover {
			background: $color_brandred;
			text-decoration: underline;
		}
	}
}

.latest-posts-inner {
	background: $color_background_offwhite;
	border-bottom: $solid_border;
	width: 100%;

		h2 {
			color: $color_branddarkgrey;
			text-align: center;
			text-transform: uppercase;
		}

		ul {
			display: flex;
			justify-content:space-between;
			list-style: none;

			li {
				background: #ffffff;
				border: $solid_border;
				flex: 1 0 25%;
				max-width: 25%;
			}
	}
}

.testamonials {
	margin-bottom: 3rem;

		h2 {
			color: $color_branddarkgrey;
			text-align: center;
			text-transform: uppercase;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content:space-between;
			list-style: none;

			li {
				border: $dashed_border;
				display: flex;
				flex: 1 0 50%;
				max-width: 50%;
			}
		}
}

/* Products grid */

.product-grid {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 3rem;

	.product-wrapper {
		border: $solid_border;
		flex: 0 1 25%;
		max-width: 25%;
	}
}
