/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  background-color: #222;
  color: #fff;

  .footer-inner {
    display: flex;
    justify-content: space-between;

    .footer-inner-item {
      margin: 3rem 0;
      width: 33%;
    }

    .footer-inner-item:nth-child(1) {
      line-height: 1;
      margin: 3rem 0;
      width: 33%;

      h3 {
        color:$color_brandlightgrey;
        font-size: 1.2rem;
        margin-bottom: .75rem;
        text-transform: uppercase;
      }

      p {
        margin-bottom: .5rem;
      }

      i {
        font-size: 1.25rem;
        margin-right: .5rem;
      }

      a {
        color: #ffffff;
        font-weight: lighter;
      }
    }

    .footer-inner-item:nth-child(2) {
      display: flex;
      justify-content: center;
      flex-direction: column;

      img {
        display: block;
        margin: 0 auto;
        width: 15rem;
      }
    }

    .footer-inner-item:nth-child(3) {

      .business-hours {
        float: right;

        h3 {
          color:$color_brandlightgrey;
          font-size: 1.2rem;
          margin-bottom: .75rem;
          text-transform: uppercase;
        }

        p {
          margin-bottom: .5rem;
        }

        .weekday {
          font-weight: bold;
        }
      }
    }
  }

 .site-info {
   background-color: $color_branddarkgrey;
   font-size: .8rem;
   padding: 1.5rem 0;
   text-align: center;
 }
}
