/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  background-color: #222222;
  color: #ffffff;
  margin: 0 auto;
  width: 1240px;

  .footer-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .footer-inner-item:nth-child(1) {
      line-height: 1;
      margin: 3rem 0;
      padding-left: 2rem;
      width: 33%;

      h3 {
        color:$color_brandlightgrey;
        font-size: 1.1rem;
        font-weight: light;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }

      p {
        margin-bottom: .5rem;
      }

      i {
        font-size: 1.25rem;
        margin-right: .5rem;
      }

      a {
        color: #ffffff;
        font-weight: lighter;
      }
    }

    .footer-inner-item:nth-child(2) {
      margin: 3rem 0;
      width: 33%;

      .footer-logo {
        font-size: 1rem;
        line-height: 1.5;

        img {
         display: block;
         margin: 3rem auto;
         width: 15rem;
      }
    }
  }

    .footer-inner-item:nth-child(3) {
      margin: 3rem 0;
      width: 33%;

      .business-hours {
        float: right;

        h3 {
          color:$color_brandlightgrey;
          font-size: 1.1rem;
          font-weight: light;
          margin-bottom: 1rem;
          text-transform: uppercase;
        }

        p {
          margin-bottom: .5rem;
        }

        .weekday {
          font-weight: bold;
        }
      }
    }
  }

 }

 .site-info {
   background-color: $color_branddarkgrey;
   font-size: .8rem;
   display:block;
   padding: 1.5rem 0;
   text-align: center;



}
