/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
  background-color: $color_background_offwhite;
  padding-top: 2.25rem;

  .site-branding {
    background-color: $color__background-body;
    border-top: $solid_border;
    padding: 1.5rem;

    .site-branding-inner {
      display: flex;
      justify-content: space-between;

     .logo img {
       width: 300px;
     }

     .social-icons ul {
       display: flex;
       list-style: none;
	     text-decoration: none;
     }

     .fa {
       color: $color_brandmedgrey;
       display: inline-block;
       font-size: $font_size;
       padding: 1rem;
     }
   }
 }
}

.main-navigation {
  background-color: $color__background-body;
  border-top: $solid_border;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .main-navigation-inner {
    box-shadow: 0 2px 3px 0 rgba(150,150,150,.25);
    margin-left: auto;
    margin-right: auto;

    ul {
      margin-left: 0;
      padding-left: 0;

      li:nth-child(1) {
        border-left: $solid_border;
        border-right: $solid_border;
      }

      li:nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5) {
        border-right: $solid_border;
      }

      li {
        font-size: 1.1rem;
        padding: .75rem 1.5rem;

        a {
          color: $color_brandmedgrey;
          font-weight: bold;

          &:hover {
            color: $color_branddarkgrey;
          }
        }
      }
    }
  }

  .search-form-1 {
    float: right;

    input, fieldset {
      background: transparent;
      border:none;
      font-weight: 400;
      padding-top: 5px;

      button {
        background: transparent;
        border:none;
        box-shadow: none;
        color: #000;
        color: $color_brandmedgrey;
      }
    }
  }
}
