/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
  // background-color: $color_background_offwhite;
  height: 150px;
  padding-top: 2.25rem;
}

.site-branding {
  background-color: $color__background-body;

  .site-branding-inner {
    display: flex;
    justify-content: space-between;

    .logo img {
      width: 300px;
   }

    .social-icons ul {
     display: flex;
     list-style: none;
	   text-decoration: none;
   }

   .fa {
     color: $color_brandmedgrey;
     display: inline-block;
     font-size: $font_size;
     padding: 1rem;
   }

  }
}

.main-navigation {
  background-color: $color__background-body;
  border-bottom: $solid_border;
  border-top: $solid_border;
  width: 100%;

  li {
    border-right: $solid_border;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
  }
}

a {
  color: $color_brandmedgrey;

  &:hover {
    color: $color_branddarkgrey;
  }

}

.search-form input, fieldset {
  background: transparent;
  border:none;
  padding-left: 2rem;

  button {
    background: transparent;
    border:none;
    box-shadow: none;
    color: $color_brandmedgrey;
    font-size: 1rem;
  }
}

.current-menu-item {
  border-bottom: 2px solid #db272a;
}
