/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.home {
		.banner {
		align-items: center;
		background:
		url('../../images/hero-bread.jpg') center top no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 550px;
		width: 100vw;

		.banner-text {
			color: white;
			font-size: 6rem;
			line-height: 1;
			text-align: center;
			text-shadow: 2px 1px 2px rgba(100,100,100,.75);
		}
	}

/* Menu of Products */

.menu-items {

	.menu-item-inner {
		display: flex;
		justify-content: space-between;
		margin-top: 3rem;

		.menu-item-wrapper {
			width: 22%;
		}

		img {
			display: block;
			margin: 0 auto 1.5rem;
			width: 80%;
		}

		h3 {
			font-size: 1.2rem;
			margin-bottom: 1rem;
			text-transform: uppercase;
			text-align: center;
		}

		p {
			padding: 1rem;
		}

		a {
			color: $color_brandred;
		}
	}
}

/* See Our Products */

.click-for-more {
	background: $color_background_offwhite;
	border-top: $solid_border;
	border: $solid_border;
	margin-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: .5rem;
	width: 1024px;

	p {
		display: flex;
		justify-content: space-around;
		line-height: 1;

		span {
			margin: .5rem;
		}
	}

	.btn {
		background:$color_brandbrown;
		border: none;
		border-radius: 3px;
		box-shadow: none;
		color: #fff;
		cursor: pointer;
		font-size: 1rem;
		padding: .75rem 1.5rem;
		text-decoration: none;
		text-shadow: none;

		&:hover {
			background: #861618;
			text-decoration: underline;
		}
	}
}

/* Our Latest News */

.latest-posts {
	background: $color_background_offwhite;
	border: $solid_border;
	padding: 2.25rem 0;
	margin-bottom: 3rem;

	h2 {
		color: $color_branddarkgrey;
		font-size: 1.8rem;
		margin-bottom: 2.25rem;
		text-align: center;
		text-transform: uppercase;
	}

	hr {
		box-sizing: content-box;
		background-color: #ccc;
		height: 1px;
	}

		hr.decorative {
			border: none;
			color: #e1e1e1;
			margin: 0 auto 3rem;
			max-width: 320px;
			padding: 0;
			position: relative;
			text-align: center;
			width: 50%;

			&:after {
				background: 0 0;
				content: '\f111';
				color: #e1e1e1;
				display: inline-block;
				font-family: FontAwesome;
				font-size: 14px;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		ul {
			box-shadow: 0 0 3px rgba(100,100,100,.25);
			display: flex;
			justify-content:space-between;
			list-style: none;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;

			li {
				background: #ffffff;
				border: $solid_border;
				flex: 1 0 25%;
				max-width: 25%;

				.thumbnail-wrapper {
					height: 200px;
					overflow: hidden;
					position: relative;

					img {
						left: 50%;
						max-width: none;
						position: absolute;
						top: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
  }
}

.post-info {
	padding: .5rem;

	h3 {
		font-family: 'Open Sans', sans-serif;
		font-size: 1rem;
		margin-bottom: .25rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		a {
			color: $color_brandmedgrey;

			&:hover {
				color: $color_brandred;
				text-decoration: underline;
			}
		}
	}

	.entry-meta {
		color: $color_brandlightgrey;
		font-size: .9rem;
	}
}

.testamonials {
	margin-bottom: 3rem;

		h2 {
			color: $color_branddarkgrey;
			font-size:1.8rem;
			margin-bottom: 2.25rem;
			text-align: center;
			text-transform: uppercase;
		}

		hr {
			box-sizing: content-box;
			background-color: #ccc;
			height: 1px;
		}

			hr.decorative {
				border: none;
				color: #e1e1e1;
				margin: 0 auto 3rem;
				max-width: 320px;
				padding: 0;
				position: relative;
				text-align: center;
				width: 50%;

				&:after {
					background: 0 0;
					content: '\f111';
					color: #e1e1e1;
					display: inline-block;
					font-family: FontAwesome;
					font-size: 14px;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content:space-between;
			list-style: none;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;

			li {
				display: flex;
				flex: 1 0 50%;
				max-width: 50%;
				padding: 1.5rem;

				&:first-child, &:nth-child(3) {
					border-right: $dashed_border;
				}

				&:first-child, &:nth-child(2) {
					border-bottom: $dashed_border;
				}

				img {
					height: 100px;
					margin-right: 1.5rem;
					margin-top: 1rem;
					min-width: 100px;
					width: 100px;
				}

				.reviewer-name {
					font-weight: 700;
					margin-bottom: 0;
				}

				.reviewer-info {
					margin: 0;
				}

				a {
					color: $color_brandred;
				}
			}
		}
  }
}

/* About Page */

.page-template-about {

	.content-area {
		padding-top: 3rem;
		padding-bottom: 3rem;

		.about-header {
			text-align: center;

			h1 {
				font-size: 2.1rem;
				margin-bottom: .5rem;
				text-transform: uppercase;
			}

		 p {
			  margin-bottom: 3rem;
				margin-top: 0;
				text-align: center;
			}
		}

		hr {
			box-sizing: content-box;
			background-color: #ccc;
			height: 1px;
			}

			hr.decorative {
				border: none;
				color: #e1e1e1;
				margin: 0 auto 3rem;
				max-width: 320px;
				padding: 0;
				position: relative;
				text-align: center;
				width: 50%;

				&:after {
					background: 0 0;
				 content: '\f111';
					color: #e1e1e1;
					display: inline-block;
					font-family: FontAwesome;
					font-size: 14px;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}

		.entry-content {
			margin: 1.5rem 0 0;
			margin-bottom: 4rem;

			.about-info {
				display:flex;
				justify-content: space-between;

				.about-info-item {
					flex: 0 1 47.5%;

					h3 {
						color: $color_brandbrown;
						font-size: 1.6rem;
						margin-bottom: 0;
						margin-top: 0;
					}

					.sub-header {
						color: $color_brandlightgrey;
					}
				}
			}

			.our-story {

				h2 {
					color: $color_branddarkgrey;
					font-size:1.8rem;
					text-align: center;
				}
			}
		}

		.contact-us {
			background: $color_background_offwhite;
			border: $solid_border;
		  margin-bottom: 3rem;
			margin-left: auto;
			margin-right: auto;
			padding-top: .5rem;
			width: 1024px;

			p {
				display: flex;
				justify-content: space-around;
				line-height: 1;
				width: 100%;

				span {
					margin: .5rem;
				}

				.btn {
					background:$color_brandbrown;
					border: none;
					border-radius: 3px;
					box-shadow: none;
					color: #fff;
					cursor: pointer;
					font-size: 1rem;
					padding: .75rem 1.5rem;
					text-decoration: none;
					text-shadow: none;

					&:hover {
						background: #861618;
						text-decoration: underline;
					}
				}
			}
	 	}
  }
}

	/*Products Page*/

.post-type-archive-product {

	.products-header {
		border-bottom: 0;
		margin-bottom: 1.5rem;
		padding-bottom: 0;
		text-align: center;

		.page-title {
			border-bottom: 0;
			font-size: 2.1rem;
			padding-top: 3rem;
			text-transform: uppercase;
		}

		p {
			margin-bottom: 3rem;
		}

		hr {
			box-sizing: content-box;
			background-color: #ccc;
			height: 1px;
		}

			hr.decorative {
				border: none;
				color: #e1e1e1;
				margin: 0 auto 3rem;
				max-width: 320px;
				padding: 0;
				position: relative;
				text-align: center;
				width: 50%;

				&:after {
					background: 0 0;
					content: '\f111';
					color: #e1e1e1;
					display: inline-block;
					font-family: FontAwesome;
					font-size: 14px;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}

		.menu-items {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 3rem;
			margin-left: auto;
			margin-right: auto;
			width: 75%;

			.menu-item-wrapper {
				width: 22%;
			}

			img {
				display: block;
				margin: 0 auto 1.5rem;
				width: 80%;
			}

			h3 {
				color: $color_brandbrown;
				font-size: 1.3rem;
				font-weight: 700;
				margin-bottom: 0;
				text-transform: uppercase;
				text-align: center;
			}

				a:hover {
					text-decoration: underline;

			  }
		}
	}


	.product-grid {
		align-content: flex-start;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 1.5rem;
		padding-bottom: 3rem;

		.product-wrapper {
			border: $solid_border;
			flex: 0 1 25%;
			max-width: 25%;

			.product-info {
				padding:.75rem 1rem;

				.product-title {
					padding-right: .25rem;

					&:after {
						overflow: hidden;
						content: " .....";
						white-space: nowrap;
						width: 0;
					}
				}

				.price {
					padding-top: .25rem;
				}
			}
		}
	}
}

.single-product {

	.entry-title {
		font-size: 2.1rem;
		text-transform: uppercase;
	}

	.price {
		font-family: 'Overlock', sans-serif;
		font-size: 1.5rem;
		font-weight: 700;
	}
}
